<app-menu></app-menu>
<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
      <h2 class="text-2xl font-bold mb-4 text-center">Votre profil</h2>
      <p class="text-lg mb-2 text-center">Nom : <span class="font-semibold">{{ user?.name }}</span></p>
      <p class="text-lg mb-4 text-center">Email : <span class="font-semibold">{{ user?.email }}</span></p>
  
      <div class="mb-6">
        <h3 class="text-xl font-bold mb-2 text-center">Modifier le nom d'utilisateur</h3>
        <input type="text" [(ngModel)]="newName" placeholder="Nouveau nom" class="input input-bordered w-full mb-2">
        <div class="flex justify-center">
          <button (click)="updateUserName(newName)" class="btn btn-primary">Mettre à jour le nom</button>
        </div>
      </div>
  
      <div>
        <h3 class="text-xl font-bold mb-2 text-center">Modifier le mot de passe</h3>
        <input type="password" [(ngModel)]="newPassword" placeholder="Nouveau mot de passe" class="input input-bordered w-full mb-2">
        <div class="flex justify-center">
          <button (click)="updateUserPassword(newPassword)" class="btn btn-primary">Mettre à jour le mot de passe</button>
        </div>
      </div>
    </div>
    </div>
    <app-footer></app-footer>
