<div class="navbar bg-neutral text-neutral-content">
  
    <div class="flex-none gap-2">
      <button class="btn btn-ghost text-xl" (click)="navigateTo('/')">Home</button>
      <button class="btn btn-ghost text-xl" (click)="navigateTo('/tickets')">Rechercher un adversaire</button>
      <button class="btn btn-ghost text-xl" (click)="navigateTo('/mytickets')">Mes tickets</button>
    </div>
    
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">Avis</a>
    </div>
  
    <div class="flex-none gap-2">


        <button class="btn btn-ghost text-xl" (click)="navigateTo('/ticket')">Créer un ticket</button>
        <button class="btn btn-ghost text-xl" (click)="navigateTo('/login')">Se connecter</button>

     
      <div class="dropdown dropdown-end">
        <div tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="Profil image" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </div>
        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-neutral rounded-box w-52">
          <li><a class="justify-between" (click)="navigateTo('/profil')">Profil</a></li>
          <li><a (click)="onLogout()">Se déconnecter</a></li>
      


        </ul>
      </div>

    </div>
  </div>
  